# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.pytest_cache/

# Raw large dataset
data/raw/raw_restaurants.csv

# Frontend files
frontend/node_modules/
frontend/dist/

# IDE / OS files
.DS_Store
.idea/
.vscode/
Thumbs.db
